# Mac OS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs and Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo

# Loop Files
.loop
